In [1]:
# Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

# если источник traffic_source равен yandex или google, то в source_type ставится organic
# для источников paid и email из России - ставим ad
# для источников paid и email не из России - ставим other
# все остальные варианты берем из traffic_source без изменений

In [1]:
import pandas as pd

In [2]:
visit = pd.read_csv('visit_log.csv', sep=';')
visit.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [3]:
visit['source_type'] = visit['traffic_source']
visit.loc[visit.traffic_source.isin(['yandex','google']),  'source_type'] = 'organic'
visit.loc[lambda row: (row.traffic_source == ( 'paid' or 'email'))  &  (row.region == 'Russia') , 'source_type'] = 'ad'
visit.loc[visit.traffic_source.isin(['paid','email']) & ~visit.region.isin(['Russia']),  'source_type'] = 'other'
visit.tail()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,email

In [4]:
visit['source_type'].value_counts()

direct     7013
organic    5407
other      2728
email      2209
ad         1581
Name: source_type, dtype: int64

In [7]:
# В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц
# с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую
# конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

# Прочитайте содержимое файла с датафрейм
# Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии
# с заданным шаблоном
pattern = r'/\d{8}-'

In [8]:
url = pd.read_csv('URLs.txt')
url.head()
url.shape

(93, 1)

In [9]:
url[url.url.str.contains(pattern)].shape

(84, 1)

In [10]:
# В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword.
# Леммы должны иметь строковый тип.

data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [11]:
pip install pymystem3

Collecting pymystem3
  Downloading pymystem3-0.2.0-py3-none-any.whl (10 kB)
Requirement already satisfied: requests in c:\users\eis\anaconda3\lib\site-packages (from pymystem3) (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\eis\anaconda3\lib\site-packages (from requests->pymystem3) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\eis\anaconda3\lib\site-packages (from requests->pymystem3) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\eis\anaconda3\lib\site-packages (from requests->pymystem3) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\eis\anaconda3\lib\site-packages (from requests->pymystem3) (1.25.9)
Installing collected packages: pymystem3
Successfully installed pymystem3-0.2.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from pymystem3 import Mystem

In [15]:
m = Mystem()

In [16]:
def lemmatize(row):
    row['lemmas'] = ' '.join( m.lemmatize(''.join(row.keyword)))
    return row

In [17]:
data = data.apply(lemmatize, axis=1)
data

                 keyword   shows                        lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль \n
1        доллары в рубли  114173         доллар   в   рубль \n
2  100 долларов в рублях   97534   100   доллар   в   рубль \n
3             курс рубля   53546               курс   рубль \n